@import 'core/settings';
@import 'core/links';

body {
	background: $color-white;
	margin: 0;
	height: 100vh;
}

.app__main-select{
  display: flex;
  justify-content: center;
}

.app__container{
  display: block;
  margin: 20px 10px;
}

.card__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.card__list-item{
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
  width: 162px;
  height: 197px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__img{
  border-radius: 10px;
}

.hidden{
  display: none;
}
