<main class="app__main">
  <div class="app__select-cont">
    <label for="cards-4">
      <input
        id="cards-4"
        type="radio"
        value="4"
        name="cards"
        class="app__select"
      />
      4
    </label>
  </div>
  <div class="app__select-cont">
    <label for="cards-6">
      <input
        id="cards-6"
        type="radio"
        value="6"
        name="cards"
        class="app__select"
      />
      6
    </label>
  </div>
  <div class="app__select-cont">
    <label for="cards-8">
      <input
        id="cards-8"
        type="radio"
        value="8"
        name="cards"
        class="app__select"
      />
      8
    </label>
  </div>
  <button type="button" class="button__start">Comenzar</button>
  <div class="app__container"></div>
</main>
